<div class="project_body mt-2">
  <h2><%= project.name %></h2>
  <div class="row mt-4">
    <div class="project_role col-sm-6">
      <h5>Role: <%=project.role%></h5>
    </div>
    <div class="project_github col-sm-6">
      <h5>github: <%=project.github%></h5>
    </div>
  </div>
  <h4>Description: <%= project.description %>
</div>
