<div class="container-fluid container-height row">
  <div class="col-md-3 col-sm-2 col-xs-12 " ></div>
  <div class="col-md-6 col-sm-6 col-xs-12 border bg-light big-container">
    <div class= "form-container-portfolio border">
      <%= render 'shared_portfolio', portfolio: @portfolio %>
    </div>
  </div>
  <div class="edit_button ml-4">
    <% if @sub_view == "about" %>
      <div class="button">
        <%= link_to 'Edit', edit_about_me_path(@portfolio.about_me) , :class => '', :style => '' %>
      </div>
    <% end %>
  </div>
</div>
